
services:
  awning-app:
    # build: .
    image: ghcr.io/tmzt/awning-backend:latest
    networks:
      - proxy
      - redis_temp
    ports:
      - "4000:4000"

    volumes:
      - /srv/apps/awning_backend/config:/app/config:ro
      - /srv/apps/awning_backend/creds:/app/creds:ro
      - /srv/apps/awning_backend/var:/app/var

    env_file:
      - .env.production

    environment:
      - APP_ENV=production
      - APP_PORT=4000
      - CONFIG_DIR=/app/config
      - CONFIG_FILE=/app/config/config.yaml
      - VAR_DIR=/app/var
      - SERVICE_CREDENTIALS_FILE=/app/creds/service_credentials.json
      - REDIS_ADDR=redis-temp:6379
      - TRUSTED_PROXIES=172.16.0.0/16
      - CORS_ORIGINS=https://awning.app,https://beta.awning.app

networks:
  proxy:
    external: true
  redis_temp:
    external: true
    name: 'redis-temp_redis_temp'
